// GLOBAL
// ----------------------------------
html {
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #102e52;
}

// HOME COMPONENT
// ----------------------------------
.Home-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    .topic {
        margin-left: 30px;
        color: #fa8404;
    }
}

// MENU COMPONENT
// ----------------------------------
.menu-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: left;
    align-items: center;

        .menu-wrapper {
            position: relative;
            height: 100%;
            
            .menu {
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 300px;
                height: 100%;
                background-color: #102e52;
                border-right: 1px solid #fa8404;
                padding: 0;
                margin: 0;
            
                .menu-item {
                    color: #fa8404;
                }
            }
        }
}

// IMAGE SLIDER COMPONENT
// ----------------------------------
.image-container {
    position: relative;
    width: 100%;
    height: 800px;
 
    /* width */
    ::-webkit-scrollbar {
        width: 1px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        border: 1px solid #fa8404; 
        border-radius: 15px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #fa8404; 
        border-radius: 15px;
    }

    .image-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: inherit;
        padding: 0 15px;
        white-space: nowrap;
        
        .image-item {
            display: inline-block;
            margin: 15px;
            width: 350px;
            height: 350px;
            border: 1px solid #fa8404;
            border-radius: 2px;
        }
    }
}